body {
    font-family: "Nunito", Arial, "sans-serif";
    background-color: #FFBF09;
   
}

#page {
    background-color: WHITE;
}

/* DIVS */
div {
    border: 2px solid black;
    padding: 1%;
    margin: 1%;
}

.header {  
    padding-top: 0%;
    padding-bottom: 0%;
    margin: 0%;
}

#bio-sec {
    margin-top: 1%;
}

#hobbies-sec {
    margin-top: 1%;
}

/* DIVS*/



ul {
    text-align: left;
    padding-left: 0.03%;
}

#nav-list {
    text-align: center;
}

ul h1 {
    display: inline;
    padding-right: 16%;
    

}

li {
    display: inline;
    font-family: "Nunito", Arial, "sans-serif";
    padding-right: 5%;
    font-weight: 700;
    
}

#hobby-list {
    display: block;
}


a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}




table {
    width: 100%;
    height: auto;
}


td {
    border: 2px solid black;
    padding: 1%;
}


p {
    border: 2px solid black;
}

.inner-p {
    border: none;
}

#cooking-outer {
    padding-right: 3%;
}


/*  IMAGES */

#portrait {
    width: 103%;
    border: 2px solid black;
}

#hobby {
    width:100%;
    height: auto;
    border: 2px solid black;
    padding-right: 0%;
    padding-left: 0%;
}

#hobby2 {
    width: 100%;
    border: 2px solid black;
}

#target {
    width: 10%;
    height: auto;
    padding-left: 22%;
    padding-right: 10%;
    padding-bottom: 2%;
    
}

#nhs {
    width: 10%;
    height: auto;
    padding-top: 3%;
    padding-right: 10.5%;
    padding-bottom: 2%;
}

#eotm {
    width: 10%;
    height: auto;
    padding-bottom: 2%;
}

/* IMAGES */

